body {
  font-family: 'Bai Jamjuree';
  font-size: 1.125rem;
  max-width: 1440px;
}

h1 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  font-size: 2.2rem
}

p {
  width: 55%;
  margin: 1.4% auto 3%;
  color: hsl(201, 11%, 66%);
  font-size: 1rem;
}

#heading img{
  max-width: 100%;
  position: absolute;
}
#heading svg {
  margin-top: 10%;
  margin-bottom: 4.7%;
}
.desktop-image{
  display:inherit;
}

.mobile-image{
  display: none;
}


/* ----------------------Buttons ------------------------------------*/
.button1 {
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 70%);
  box-shadow: 0 8px 15px 0 hsl(171, 66%, 75%), 0 12px 30px 0 hsl(171, 66%, 85%);
}
.button2 {
  background-color: hsl(233, 100%, 69%);
  border-color: hsl(233, 100%, 85%);
  box-shadow: 0 8px 15px 0 hsl(233, 100%, 90%), 0 12px 30px 0 hsl(233, 100%, 95%);
}

.btn-style {
  font-size: 0.95rem;
  font-weight: 600;
  padding: 2.5% 7.5%;
  border-width: 0 1px 2px ;
  border-style: outset;
  border-left-style: inset;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----------------------------Responsiveness ---------------------*/
@media (max-width: 450px){
  .desktop-image{
    display:none;
  }
  .mobile-image{
  display: inherit;
  width: 100%;
  }

  #heading svg {
    margin-top: 38%;
    margin-bottom: 22%;
}

h1{
  font-size: 1.8rem;
}

p {
  width: 90%;
  margin: 5% auto 12%;
  font-size: 0.85rem;
  font-weight: 400;
}
.btn-style {
    padding: 3.8% 24%;
}
