html, body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

:root{
  Strong-Cyan: hsl(171, 66%, 44%);
  Light-Blue: hsl(233, 100%, 69%);
  Dark-Grayish-Blue: hsl(210, 10%, 33%);
  Grayish-Blue: hsl(201, 11%, 66%);
}

body, footer {
  font-family: 'Bai Jamjuree';
  font-size: 16px;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  font-size: 2.77rem
}

h2 {
  font-size: 2.185rem;
  margin-bottom: 2.18%;
}

h3 {
  font-size: 1.46rem;
  margin-bottom: 1.6%;
  margin-top: 11%;
}

p {
  color: hsl(201, 11%, 66%);
}

/* ---------------------HEADING SECTION--------------------------- */
.heading-div {
  background-image: url('../images/bg-header-desktop.png');
  background-origin: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading-div svg {
  margin: 127px auto 58px;
}

.heading-text p {
  margin: 1.3% auto 2.75%;
  width: 50%;
  font-size: 1.25rem;
  letter-spacing: 0.01rem;
}

/* ----------------------Buttons ------------------------------------*/
.btn-style {
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.04rem;
  padding: 15px 33.5px 13px;
  border-width: 0 1px 2.5px;
  border-style: outset;
  border-left-style: inset;
}

.button1 {
  background-color: hsl(171, 66%, 40%);
  border-color: hsl(171, 66%, 50%);
  box-shadow: 0 8px 15px 0 hsl(171, 66%, 75%), 0 12px 30px 0 hsl(171, 66%, 85%);
  color: hsl(171, 66%, 90%);
}

.button2 {
  background-color: hsl(233, 100%, 65%);
  border-color: hsl(233, 100%, 70%);
  box-shadow: 0 8px 15px 0 hsl(233, 100%, 90%), 0 12px 30px 0 hsl(233, 100%, 95%);
  color: hsl(233, 100%, 95%);
  padding-left: 31.5px;
  padding-right: 33.5px;
}

/* --------------------ACTIVE STATE ------------------------------*/
.button1.btn:hover{
  color: hsl(171, 66%, 90%);
  opacity: 0.8;
}
.button2.btn:hover{
  color: hsl(233, 100%, 95%);
  opacity: 0.8;
}

/* ------------------------SNIPPETS SECTION ----------------------------*/
.container-fluid {
  padding: 10.5% 15% 3%;
}

.snippets-heading h2 {
  margin-top: 0.1%;
}

.snippets-heading p, .clipboard-container p, .features-heading p {
  font-size: 1.142rem;
  width: 70%;
  margin: auto;
  line-height: 1.65;
}

.snippets-body {
  margin-top: 2.5%;
}

.check {
  display: none;
}

.snippets-body img:first-child {
  width: 56%;
  position: absolute;
  left: -2.2%;
}

.snippets-text {
  margin-top: 1.05%;
  position: absolute;
  text-align: left;
  left: 62.3%
}

.snippets-text p {
  margin-left: 0;
  margin-bottom: 11.5%;
  font-size: 1rem;
  width: 68%;
  line-height: 1.93;
}

.snippets-text p:nth-child(4) {
  margin-bottom: 11.3%;
}

.snippets-container {
  margin-bottom: 45%;
}

/* ----------------------ClIPBOARD SECTION------------------------------- */
.clipboard-container.container-fluid {
  margin-top: -2.6%;
}

.clipboard-container h2 {
  margin-bottom: 2.11%;
  text-transform: capitalize;
}

.clipboard-container p {
  line-height: 1.66;
}

.clipboard-container img {
  margin-top: 9.85%;
}

/* ------------------------FEATURES SECTION------------------------------ */
.features-section-container.container-fluid {
  padding: 2.1% 7% 2.3%;
}

.container-logo {
  margin-top: 0.3%;
}

.features-heading h2 {
  margin-bottom: 1.7%;
}

.features-heading {
  margin-bottom: 6%;
}

.container-logo {
  height: 38.5px;
}

.logo1 svg {
  margin-top: -1.3%;
}

.card-text h3 {
  margin-top: 11.2%;
}

.card-text {
  letter-spacing: 0.75%;
}

.card-text p {
  font-size: 1.01rem;
  margin: auto;
  width: 100%;
  margin-top: 1em;
  line-height: 1.9;
}

/* --------------------BRANDS SECTION------------------------------------ */
.container-fluid.brands-container {
  padding: 2.1% 9.3% 11.149%;
  margin-top: 0.05%;
}

.brand {
  margin-top: 7.85%;
}

.brand-img1 {
  margin-left: 10%;
}

.brand-img2 {
  margin-left: 20%;
}

.brand-img3 {
  margin-left: 24%;
}

.brand-img4 {
  margin-left: 28%;
}

.brand-img5 {
  margin-left: 12%;
}

/* -------------------CALL TO ACTION CONTAINER -------------------------*/
.call-to-action-container h2 {
  margin-top: -0.05%;
  margin-bottom: 1.35%;
  font-size: 2.25rem;
}

.call-to-action-container p {
  font-size: 1.10rem;
  width: 50%;
  letter-spacing: 0.02rem;
  line-height: 1.75;
  margin: 0 auto 2.76%;
}

/* --------------------CALL TO ACTION BUTTONS --------------------*/
#call-to-action .btn-style {
  letter-spacing: 0.04rem;
  margin-top: 0.1%;
}

#call-to-action .button1 {
  padding-right: 32px;
  padding-left: 33px;
}

#call-to-action .button2 {
  padding-right: 33px;
  padding-left: 33px;
}

/*------------------------ FOOTER SECTION------------------------------ */
.footer-container.container-fluid {
  padding: 2.8% 0 1.5%;
  margin-top: 10.45%;
}

.logo svg {
  height: auto;
  width: 18.5%;
  margin-left: 24.5%;
}

.footer-menu p {
  font-size: 1.2rem;
  font-weight: bold;
}
.footer-menu p:hover {
  color: #26BBA4!important;
}
.f3, .f4 {
  margin-left: -3%;
}

.f5 {
  margin-left: -3%;
}

.f2, .f4 {
  margin-top: -0.3%;
}

.social-icon-container {
  margin-left: -2.5%;
}
.social-icon-container svg:hover path{
  fill: #26BBA4;
}

.twitter {
  margin-right: 4.5%;
  margin-left: 4.5%;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----------------------------RESPONSIVENESS ---------------------*/
@media (max-width: 540px) {
  h1, h2 {
    margin: auto;
  }

  h1 {
    font-size: 1.58rem;
    letter-spacing: -0.02rem;
    line-height: 1.27;
    margin-bottom: 5%;
  }

  h2 {
    font-size: 1.42rem;
    margin-bottom: 3%;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 3%;
    margin-top: 12%;
  }

  svg {
    height: auto;
    width: 26.7%;
  }

  .heading-text p, .snippets-heading p, .snippets-text p, .clipboard-container p, .features-section-container p {
    font-weight: 400;
    font-size: 0.8rem;
    width: 100%;
    margin: auto;
  }

  .container-fluid {
    padding: 0;
  }

  .mobile-container {
    padding: 15% 16.5%;
  }

  .heading-text.mobile-container {
    padding-bottom: 0;
    padding-top: 0;
  }

  /* -----------------HEADING SECTION --------------------*/
  .heading-div {
    background-image: url('../images/bg-header-mobile.png');
  }

  .heading-div svg {
    margin-top: 26%;
    margin-bottom: 13.7%;
  }

  .heading-text p {
    margin: 4.5% auto 10.6%;
    letter-spacing: 0.005rem;
    line-height: 1.625;
  }

  /* ---------------------BUTTONS------------------------ */
  .btn-style {
    padding: 12px 61px 8.5px;
    font-size: 0.87rem;
    letter-spacing: 0.048rem;
    font-weight: 600;
    margin-bottom: -2px;
  }

  .button2 {
    padding: 12px 60px 8.5px;;
    letter-spacing: 0.04rem;
  }

  /*---------------------- SNIPPETS SECTION--------------- */
  .snippets-container.mobile-container {
    margin-top: 0.07%;
    margin-bottom: 17%;
  }

  .snippets-body {
    margin-top: 11%;
    margin-bottom:
  }

  .snippets-container h2 {
    line-height: 1.232;
    margin-bottom: 5%
  }

  .snippets-heading p {
    line-height: 0;
    font-size: 0.771rem;
    width: 95%;
    letter-spacing: 0.015rem;
  }

  .snippets-heading span:first-child {
    line-height: 1;
  }

  .snippets-heading span:nth-child(2) {
    line-height: 2.5;
  }

  .snippets-heading span:nth-child(3) {
    line-height: 0.8;
  }

  .snippets-heading span:nth-child(4) {
    line-height: 2.7;
  }

  .snippets-heading span:nth-child(5) {
    line-height: 0.6;
  }

  .computer-image {
    position: relative;
  }

  .snippets-body img:first-child {
    position: static;
    padding-top: 7%;
    padding-bottom: 4.8%;
    width: 98%;
  }

  .check-container {
    border-radius: 3px;
    width: 136px;
    height: 77px;
    position: absolute;
    left: 23%;
    top: 24%;
    background-color: white;
    background-image: url("../images/image-computer.png");
    background-origin: border-box;
    background-repeat: no-repeat;
    background-position: 50% 35.7%;
    background-size: 270%;
  }

  .snippets-text {
    position: static;
    text-align: center;
    margin-top: 13.5%;
  }

  .snippets-text p {
    line-height: 1.615;
  }

  .snippets-text span {
    line-height: 1.63;
  }

  .snippets-text p:nth-child(4) {
    line-height: 1.62;
    width: 95%;
  }

  .snippets-text p:nth-child(6) {
    line-height: 1.63;
    width: 95%;
  }

  /*------------------------ ClIPBOARD SECTION---------------- */
  .clipboard-container h2 {
    margin-bottom: 3.5%;
    font-size: 1.4rem;
    letter-spacing: -0.03rem;
    line-height: 1.28;
    }

  .clipboard-container p {
    line-height: 0;
  }

  .clipboard-container span:first-child {
    line-height: 3.25;
  }

  .clipboard-container span:nth-child(2) {
    line-height: 0.12;
  }

  .clipboard-container img {
    display: inline-block;
    width: 108.8%;
    margin-left: -4.3%;
    margin-top: 14%;
  }

  /* ---------------------FEATURES SECTION ------------------------*/
  .features-section-container.container-fluid {
    padding-top: 6.1%;
    padding-bottom: 7.68%;
  }

  .features-heading h2 {
    font-size: 1.39rem;
    line-height: 1.28;
    letter-spacing: -0.025rem;
    width: 85%;
    margin-bottom: 2.5%;
  }

  .features-heading p {
    line-height: 1.65;
    width: 80%;
  }

  .features-heading {
    margin-bottom: 22.4%;
  }

  .logo1 svg {
    height: auto;
    width: 12.5%;
    margin-top: -0.2%;
  }

  .logo2 svg {
    height: auto;
    width: 10.1%;
    margin-bottom: 3.5%;
  }

  .logo3 svg {
    height: auto;
    width: 13.5%;
    margin-bottom: 4.1%;
    margin-top: 0.5%;
  }

  .card-text h3 {
    margin-top: 8.6%;
    margin-bottom: 5.2%;
    letter-spacing: -0.03rem;
  }

  .features-options .features-columns:last-child h3 {
    margin-bottom: 5.6%;
  }

  .card-text p {
    line-height: 1.65;
    font-size: 0.795rem;
    width: 85%;
    letter-spacing: 0.002rem;
  }

  .features-columns:nth-child(2) p {
    line-height: 1.6;
  }

  .features-options .features-columns:last-child p {
    line-height: 1.68;
  }

  .features-columns {
    margin-bottom: 13.5%;
  }

  /* --------------------------BRANDS------------------------ */
  .brand-img1 {
    margin: auto;
    width: 37.2%;
  }

  .brand-img2 {
    margin: auto;
    width: 30.835%;
  }

  .brand-img3 {
    margin: auto;
    margin-top: 1%;
    width: 36.3%;
  }

  .brand-img4 {
    width: 30.4%;
    margin: auto;
    margin-top: -1%;
  }

  .brand-img5 {
    margin: auto;
    margin-top: -2.8%;
    width: 28%;
  }

  .brand {
    line-height: 0;
    margin-bottom: 8.2%;
  }

  /* -----------------------CALL TO ACTION SECTION ---------------------*/
  .call-to-action-container {
    margin-top: 18.6%;
  }

  .call-to-action-container h2 {
    line-height: 1.25;
    font-size: 1.38rem;
    letter-spacing: -0.025rem;
    padding-bottom: 0.9%;
  }

  .call-to-action-container p {
    line-height: 1.615;
    letter-spacing: -0.001rem;
    width: 97%;
  }

  .call-to-action-container span {
    line-height: 1.65;
  }

  #call-to-action .button1 {
    margin-top: -0.5%;
    letter-spacing: 0.03rem;
    padding-right: 59px;
    padding-left: 60px;
    padding-top: 12px;
    padding-bottom: 9px;
  }

  #call-to-action .button2 {
    padding-right: 58px;
    padding-left: 57px;
    padding-top: 12px;
    padding-bottom: 9px;
    letter-spacing: 0.03rem;

  }

  /* -----------------FOOTER ----------------------------------*/
  .footer-container.container-fluid {
    padding: 2.8% 0 1.5%;
    margin-top: 16.2%;
  }

  .mobile-no-gutter {
    margin-right: 0;
    margin-left: 0;
  }

  .mobile-no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
  }

  .logo svg {
    height: auto;
    width: 13%;
    margin: auto;
    margin-top: 8.5%;
  }

  .footer-menu {
    text-align: center !important;
    margin: auto !important;
    margin-bottom: 4.3% !important;
  }

  .f1, .f2, .f3, .f4, .f5 {
    margin: auto;
    order: 1;
  }

  .f1 {
    margin-top: 8.65% !important;
  }

  .f3 {
    margin-top: -0.15% !important;
  }

  .f4 {
    margin-top: 0.001%;
  }

  .f4 {
    margin-top: -0.001%;
  }

  .footer-menu p {
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.45rem;
  }

  .social-icon-container {
    margin: auto !important;
  }

  .social-icon-container svg {
    height: auto;
    width: 5.5%
  }

  .twitter {
    margin-left: 7.8%;
    margin-right: 7.8%;
  }
}

/* ---------------------FOR MY PHONE SIZE -------------------------*/
@media (max-width: 350px){

  .mobile-container {
    padding: 15% 10%;
  }
}
