html, body {
  max-width: 1440px;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Bai Jamjuree';
  font-size: 1.125rem;
  text-align: center;
}

h1, h2, h3 {
  font-weight: 600;
  color: hsl(210, 10%, 33%);
  font-size: 2.77rem
}

h2 {
  font-size: 2.17rem;
  margin-bottom: 2.3%;
}

h3 {
  font-size: 1.46rem;
  margin-bottom: 1.5%;
  margin-top: 11%;
}

p {
  color: hsl(201, 11%, 66%);
}

/* ---------------------HEADING SECTION--------------------------- */
.heading-div {
  background-image: url('../images/bg-header-desktop.png');
  background-origin: border-box;
  background-size: 100%;
  background-repeat: no-repeat;
}

.heading-text p {
  margin: 1.2% auto 2.8%;
  width: 50%;
  font-size: 1.25rem;
}

.heading-div svg {
  margin: 8.76% auto 4%;
}

/* ----------------------Buttons ------------------------------------*/
.button1 {
  background-color: hsl(171, 66%, 44%);
  border-color: hsl(171, 66%, 70%);
  box-shadow: 0 8px 15px 0 hsl(171, 66%, 75%), 0 12px 30px 0 hsl(171, 66%, 85%);
}

.button2 {
  background-color: hsl(233, 100%, 69%);
  border-color: hsl(233, 100%, 85%);
  box-shadow: 0 8px 15px 0 hsl(233, 100%, 90%), 0 12px 30px 0 hsl(233, 100%, 95%);
}

.btn-style {
  font-size: 1.18rem;
  font-weight: 600;
  padding: 1.8% 5%;
  border-width: 0 1px 2.5px;
  border-style: outset;
  border-left-style: inset;
}

/* ------------------------SNIPPETS SECTION ----------------------------*/
.container-fluid {
  padding: 10.5% 15% 3%;
}

.snippets-heading p {
  font-size: 1.142rem;
  width: 70%;
  margin: auto;
  line-height: 1.65;
}

.snippets-body {
  margin-top: 2.5%;
}

.snippets-body img {
  width: 56%;
  position: absolute;
  left: -2.2%;
}

.snippets-text {
  padding-top: 1%;
  position: absolute;
  text-align: left;
  left: 62.3%
}

.snippets-text p {
  margin-left: 0;
  font-size: 1rem;
  width: 68%;
  line-height: 1.95;
}

.snippets-container {
  margin-bottom: 45%;
}

/*------------------------ FOOTER SECTION------------------------------ */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ----------------------------Responsiveness ---------------------*/
@media (max-width: 450px) {
  body {
    text-align: center;
  }

  h1, h2 {
    margin: auto;
    width: 70%;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.45rem;
    margin-bottom: 3%;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 3%;
    margin-top: 12%;
  }

  svg {
    height: auto;
    width: 26%;
  }

  .snippets-heading p, .snippets-text p, .heading-text p {
    font-weight: 400;
    font-size: 0.8rem;
    width: 68%;
    margin: auto;
  }

  .container-fluid {
    padding: 0;
  }

  .mobile-container {
    padding: 15% 2%;
  }

  .heading-text.mobile-container {
    padding-bottom: 0;
    padding-top: 0;
  }

  /* -----------------HEADING SECTION --------------------*/
  .heading-div {
    background-image: url('../images/bg-header-mobile.png');
  }

  .heading-div svg {
    margin-top: 27%;
    margin-bottom: 14%;
  }

  .heading-text p {
    margin: 2.9% auto 7.5%;
  }

  /* ---------------------BUTTONS------------------------ */
  .btn-style {
    padding: 2.7% 16.5%;
  }

  /*---------------------- SNIPPETS SECTION--------------- */
  .snippets-body {
    padding-top: 11%;
  }

  .snippets-body img {
    width: 70%;
    position: relative;
  }

  .snippets-text {
    position: static;
    text-align: center;
  }
}
